.gitattributes export-ignore
.gitignore export-ignore
.editorconfig export-ignore
unit_test.php export-ignore
README.md export-ignore
/doc export-ignore
.github export-ignore
.phpcs export-ignore
Makefile export-ignore
